html {
  scroll-behavior: smooth;
}

.hidden {
  display: none;
}

.subscription-link {
  position: relative;
  padding-top: 10px;
  padding-right: 3px;
  padding-bottom: 10px;
  padding-left: 30px;
  margin: auto 5%;
}

.subscription-link::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 10px;
  left: 10px;
}

.subscription-link:hover {
  padding-bottom: 3px;
  border-bottom: 5px solid;
}

.subscription-link:active {
  opacity: 0.5;
}

.light-theme .subscription-link {
  color: #0f8a72;
  outline-color: #351dd3;
}

.light-theme .subscription-link:hover {
  border-color: #11ac8d;
}

.light-theme .subscription-link::before {
  background-image: url("img/letter-light.svg");
}

.dark-theme .subscription-link {
  color: #150a52;
  outline-color: #02d4c6;
}

.dark-theme .subscription-link:hover {
  border-color: #2b1075;
}

.dark-theme .subscription-link::before {
  background-image: url("img/letter-dark.svg");
}

.up-button {
  position: fixed;
  z-index: 1;
  padding: 0;
  bottom: 75px;
  right: 20px;
  width: 80px;
  height: 80px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border: 5px solid;
  border-radius: 50%;
  display: none;
  cursor: pointer;
}

.light-theme .up-button {
  color: #f5d60a;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #d44616;
  outline-color: #0dafa5;
}

.light-theme .up-button:hover {
  color: #a5570d;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #e6c10a;
}

.dark-theme .up-button {
  color: #53044a;
  background-color: rgba(10, 9, 10, 0.6);
  border-color: #0c8d7e;
  outline-color: #0d685e;
}

.dark-theme .up-button:hover {
  color: #10b189;
  background-color: rgba(10, 9, 16, 0.5);
  border-color: #6653d9;
}

.shown {
  display: inline-block;
}

/* Стилизация новостных тегов */
.news-tag {
  padding: 6px 10px;
  margin: 0 auto 0 0;
  border-radius: 10px;
}

.list-tiles-view .news-tag {
  margin-bottom: 4px;
}

.light-theme .news-tag {
  color: #0e9a83;
  background-color: #f2f2f2;
}

.dark-theme .news-tag {
  color: #95cae4;
  background-color: #03343a;
}

 .news-list {
   font-family:"Segoe Script";
   color:#0c0f64;
 }

@keyframes rotate-colors {

100% {
   filter: hue-rotate(360deg);
}}


.hue-animate1 img {
  animation: rotate-colors 2s linear infinite;
}

.hue-animate2 img {
  animation: rotate-colors 4s linear infinite;
}
 
.hue-animate3 img {
  animation: rotate-colors 6s linear infinite;
}


.combo img {
  filter: sepia(2);
  transition-duration: 0.9s;
}

.combo img:hover {
  filter: none;
}

.body {
  margin:0;
}

.page-main{
  display: flex;
  justify-content: space-between;
}


.page-main1 {
  display: flex;
  justify-content: space-between;
}

.combo-1 img{
background-image: url("img/spb-6.jpg");
filter:opacity(0.5); 
box-shadow: 5px 5px 15px #13116e;

}

.combo-2 img{
  background-image: url("img/spb-1.jpg");
filter:saturate(5);

}

.combo-3 img{
  background-image: url("img/spb-3.jpg");
 filter: hue-rotate(270deg) brightness(1.5);

}

.page-main1 {
  display: flex;
  justify-content: space-between;
}



.combo-1 img{
filter:opacity(0.5); 
box-shadow: 5px 5px 15px #13116e;

}

.combo-2 img{
  filter:saturate(5);

}

.combo-3 img{
filter: hue-rotate(270deg) brightness(1.5);

}




.page-main2 {
  display: flex;
  justify-content: space-between;
}

.img-1 {
  filter: contrast(2);
}

.img-2 {
filter: invert(3);
}

.img-3 {
 filter: sepia(7);
}


.page-main3 {
  display: flex;
  justify-content: space-between;
}
.img-4 {
filter:hue-rotate(270deg);

}

.img-5 {
filter:grayscale(5);
}

.img-6 {
filter: saturate(2);
}

button {
    display: inline-block; 
    background: #e15323; 
  
    padding: 1.5rem 1.5rem; 
    text-decoration: none; 
    border-radius: 20px;
     border-color:   #ddc5bb;
   box-shadow: 15px 15px 20px #401807;
 }

.flower {
animation-name: rotate;
animation-duration:4s;
animation-delay: 2s;
animation-direction: alternate-reverse;
animation-iteration-count: infinite;
transition-timing-function: ease-in-out;
}


@keyframes rotate {
 50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(360deg);

  }
}




   
     
     
      
     
